.section {
  display: flex;
  justify-content: center;
}
.container {
  margin: auto auto;
  width: 900px;
  background-color: #ffffff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
}
.left-side {
  padding-top: 0px;
  padding-right: 100px;
}
.google-log {
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
}
